
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="public/CSS/style.css">
  <title><%= title %></title>
</head>
<body>
  <header class="header" id="header">
    <div class="container text-center">
      <h1 class="h1-heading display-1 text-center">
        <%= name %>
      </h1>
      <nav>
        <p class="header-text">Go To Home Page <a href="/">HERE</a></p>
        <p class="header-text">Add Actor <a href="http://localhost:3000/actor-form">HERE</a>
        <p class="header-text">Add Director<a href="http://localhost:3000/director-form">HERE</a>
        <p class="header-text">Add Genre <a href="http://localhost:3000/genre-form">HERE</a>
        <p class="header-text">Add Production Company <a href="http://localhost:3000/production-form">HERE</a>
        <p class="header-text">Add Streaming Platform <a href="http://localhost:3000/streaming_platform-form">HERE</a>
      </nav>
      
    </div>
  </header>  
