<%- include('../partials/header') %>  

  <main class="man" id="main">
    <div class="container">
      <h2 class="text-center">Movies are Cool!</h2>
      
    </div>
  </main>

<%- include('../partials/footer') %>  